.container,
.container * {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 2rem;
}

/* .container p {
  font-size: 16px;
  line-height: 1rem;
  color: #333;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.feeds {
  display: flex;
  flex-direction: column;
}

.user {
  font-weight: 700;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
} */

.img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
}

.feed {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  border-bottom: 1px solid #e1e8ed;
}

.content {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.header h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: #14171a;
}

.username {
  font-size: 0.8rem;
  color: #657786;
}

.text {
  font-size: 15px;
  color: #14171a;
  margin: 5px 0;
}

.btn {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --icon-size: 18px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.icon {
  font-size: 18px;
  color: #657786;
  cursor: pointer;
}

.icon:hover {
  color: #1da1f2;
}